body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 35px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product img {
  width: 90%;
  border-radius: 10px;
}

button {
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-button {
  display: block;
  text-align: center;
  margin-top: 30px;
  background: teal;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}

